body{
    background-color: gainsboro;
}

.NavBar {
    height: 20%;
    display: flex;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../public/images/ilum1.jpg");
}

.option{
    text-decoration: none;
    border-radius: 25px;
    margin:0 50px;
    padding: 12px;
    font-size: 16px;
    font-family:fantasy;
    color: white;
    background-color: gray;
}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div__button{
    margin: 1%;
    background-color:black !important;
    color:white !important;
}

.div--Itemlist{
    width: 100%;
    border: 5px solid #000;
    margin: 1%;
}

.div--Itemlistcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 1%;
}

.div--listoOfItems{
    display: flex;
    flex: row;
    flex-wrap: wrap;
}

.div__cart--button{
    border-radius: 10px;
    background-color: transparent;
}

.div__cart--text{
    display: inline-block;
    margin: 10px;
    font-family: verdana;
    font-size: 12px
}

.vader{
    height: 100px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.itemDetail-img{
    height: 200px;
}


.item-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemDetailContainer{
    width: 500px;
}